.CTA{

}

.CTA__grid{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 4rem;
     background-image: var(--gradient-bar);
     padding: 5rem 3rem;
     border-radius: 1.2rem;
}

@media screen and (min-width:768px) {
     .CTA__grid{
          flex-direction: row;
          justify-content: space-between;
     }
}

.CTA__data{

}

.CTA__extra{
     font-size: 1.2rem;
}

.CTA__title{
     
}

.CTA__btn{
     text-align: center;
     color: #fff;
     background-color: #000;
     border-radius: 7rem;
     padding: 1rem 3rem;
}